.modal {
    transform: translate(-50%, -50%) scale(.7);
    transition: .3s all ease;
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
    background-color: #fff;
    border: 5px solid #e6e6e6;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
    max-width: 460px;
    width: 100%;
    z-index: 1050;
    opacity: 0;
    pointer-events: none;

    &.-active {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        pointer-events: all;
    } //&.-active

    .close {
        transition: .2s all ease;
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 10;

        &:hover { opacity: .7; }

    } //.close

} //.modal
