#bgfake {
  background-image: url(../.././../assets/img/layout/bg-fake.jpg?dsdsdDsd);
  background-size: 100% auto;
  width: 100%;
  height: 0;
  padding-bottom: 353%;
  max-width: 1920px;
  min-width: 1200px;
  margin: auto;
} //#bgfake 