<section class="rating" *ngIf="!hideRating">
    <div class="container">
        <h4 class="title">Qual a probabilidade de você recomendar o Lejour para outra pessoa? </h4>
        
        <ul class="listscore">
            <li class="itemscore" (click)="getScore(i)" [class.-active]="i <= currentHoverScore" *ngFor="let item of listScore; let i = index" (mouseover)="currentHoverScore = i"></li>
        </ul> <!-- /.listscore -->

        <div class="bottom">
            <div class="indicator">Não recomendaria</div>
            <div class="indicator">Recomendaria com certeza</div>
        </div> <!-- /.bottom -->

    </div> <!-- /.container -->
</section> <!-- /.rating -->

<app-modal [active]="modalActive" [small]="modalMsg" (close)="closeModal()">
    <div class="modalcontent -comment" *ngIf="!modalMsg">
        <div class="headermodal">
            <h2 class="title -score">Você nos deu nota {{ score }}!</h2>
             <!-- <div class="ap ap-pensive"></div> -->
            <div class="ap" [ngClass]="emoji"></div>
            <!-- <div class="ap ap-blush"></div> -->
            <!-- <div class="ap ap-wink"></div> -->
            <!-- <div class="ap ap-smiley"></div>  -->
        </div> <!-- /.headermodal -->

        <h5 class="text">Dica? Reclamação? Só um obrigado? <br> Pode escrever aqui pra gente!</h5>

        <div class="groupfield">
            <textarea maxlength="140" [(ngModel)]="commentValue" (keyup)="countCharacter($event)" name="commentValue" auto-height class="fieldcomment" placeholder="Seu comentário"></textarea>
            <small class="characteslimit"> {{ lengthCharactes }} de 140 caracteres</small>
        </div> <!-- /.groupinput -->

        <button class="btn" (click)="sendComment()" [disabled]="btnDisabled">Enviar comentario</button>

    </div> <!-- /.modalcontent -->

    <div class="modalcontent -msg" *ngIf="modalMsg">
        
        <h2 class="title -msg">Muito Obrigado!</h2>

        <div class="text">
            Sua opinião é muito importante para nós, de <br>
            verdade! É a partir de comentários como o seu <br>
            que nos reinventamos para melhorar e ajudar <br>
            cada vez mais noivas em suas jornadas.
        </div> <!-- /.text -->

        <button class="btn" (click)="closeModal()">Fechar</button>
    </div> <!-- /.modalcontent -->
</app-modal>